.claimEvidence {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 31rem;
}